<head>
  <link rel="stylesheet" type="text/css" href="/css/emails.css">
  <link href="https://cdn.rawgit.com/westonganger/bootstrap-directional-buttons/master/dist/bootstrap-directional-buttons.css" rel="stylesheet" type="text/css" />
</head>
  <a class="btn btn-xs btn-primary btn-arrow-left" href="http://localhost:8000/emails/{{this.prevPage}}?search={{this.search}}"><</a>
  <div class="btn btn-xs btn-link">{{this.offset}}-{{this.threshold}} of {{this.count}}</div>
  <a class="btn btn-xs btn-primary btn-arrow-right" href="http://localhost:8000/emails/{{this.nextPage}}?search={{this.search}}">></a>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <!-- <th>Body</th> -->
        <th>Date</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
      <!-- example to create a row -->
      <!-- <tr>
        <td>Juldy</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr> -->
      {{#each emails}}
        <tr>
          <td>{{this.from}}</td>
          <td>{{this.subject}}</td>
          <!-- <td>{{this.body}}</td> -->
          <td>{{this.date}}</td>
          <td><a href="http://localhost:8000/attachments/1?search={{this.message_id}}">{{this.num_attach}}</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
