<head>
  <link rel="stylesheet" type="text/css" href="/css/emails.css">
  <link href="https://cdn.rawgit.com/westonganger/bootstrap-directional-buttons/master/dist/bootstrap-directional-buttons.css" rel="stylesheet" type="text/css" />
</head>
  <button type="button" class="btn btn-xs btn-primary btn-arrow-left">Previous</button>
  <button type="button" class="btn btn-xs btn-primary btn-arrow-right">Next</button>
  <a href="http://localhost:8000/emails/{{this.page}}?search={{this.search}}">Page {{this.page}} of {{this.totalPages}}</a>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <!-- <th>Body</th> -->
        <th>Date</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
      <!-- example to create a row -->
      <!-- <tr>
        <td>Juldy</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr> -->
      {{#each emails}}
        <tr>
          <td>{{this.from}}</td>
          <td>{{this.subject}}</td>
          <!-- <td>{{this.body}}</td> -->
          <td>{{this.date}}</td>
          <td><a href="attachments?search={{this.message_id}}">{{this.num_attach}}</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
