<head>
  <link rel="stylesheet" type="text/css" href="/css/file_section.css">
</head>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>File Type</th>
        <th>File Name</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <!-- example to create a row -->
      <!-- <tr>
        <td>Juldy</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr> -->
      {{#each attachments}}
        <tr>
          <td>
            <img src="/img/512px/{{this.file_type}}.png" alt="Logo" class="small_log">
          </td>
          <td>
            <a href="attachments/{{this.message_id}}/{{this.attachment_id}}/{{this.file_name}}" target="_blank">
              {{this.file_name}}
            </a>
          </td>
          <td>
            <a href="attachments/{{this.message_id}}/{{this.attachment_id}}/download/{{this.file_name}}" target="_blank">
              Download
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
