<head>
  <link rel="stylesheet" type="text/css" href="/css/file_section.css">
  <link href="https://cdn.rawgit.com/westonganger/bootstrap-directional-buttons/master/dist/bootstrap-directional-buttons.css" rel="stylesheet" type="text/css" />
</head>
  <a class="btn btn-xs btn-primary btn-arrow-left" href="http://localhost:8000/attachments/{{this.prevPage}}?search={{this.search}}"><</a>
  <div class="btn btn-xs btn-link">{{this.offset}}-{{this.threshold}} of {{this.count}}</div>
  <a class="btn btn-xs btn-primary btn-arrow-right" href="http://localhost:8000/attachments/{{this.nextPage}}?search={{this.search}}">></a>
  <a class="btn btn-xs btn-primary pull-right" href="http://localhost:8000/attachments">Fetch</a>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>File Type</th>
        <th>File Name</th>
        <th>Download</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <!-- example to create a row -->
      <!-- <tr>
        <td>Juldy</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr> -->
      {{#each attachments}}
        <tr>
          <td>
            <img src="/img/512px/{{this.file_type}}.png" alt="Logo" class="small_log">
          </td>
          <td>
            <a href="http://localhost:8000/attachments/{{this.message_id}}/{{this.attachment_id}}/{{this.file_name}}" target="_blank">
              {{this.file_name}}
            </a>
          </td>
          <td>
            <a class="btn btn-xs btn-success btn-arrow-right" href="http://localhost:8000/attachments/{{this.message_id}}/{{this.attachment_id}}/download/{{this.file_name}}" target="_blank">
              Download
            </a>
          </td>
          <td><a class="btn btn-xs btn-primary btn-arrow-right" href="http://localhost:8000/emails/1?search={{this.message_id}}">Email</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
